{
  "parser" : "babel-eslint",
  "rules": {
    "indent": [2,2],
    "quotes": [2,"single"],
    "linebreak-style": [2,"unix"],
    "semi": [2,"always"],
    "no-console": 0,
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/object-curly-spacing": 1,
    "babel/object-shorthand": 1,
    "babel/arrow-parens": 1,
    "no-unused-vars": [2, {"args": "after-used", "varsIgnorePattern": "React"}]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "jsx": true,
    "experimentalObjectRestSpread": true
  },
  "plugins": [
    "babel",
    "react"
  ]
}
